body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: skyblue;
}

.logo {
    text-align: center;
    background: linear-gradient(to right, #6fa3c8, #9ec5e0);
    color: white;
    padding: 20px;
    font-size: 36px;
    letter-spacing: 3px;
}


.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    text-align: center;
}

.hero-text {
    width: 100%;
}

.hero-text h1 {
    font-size: 38px;
    color: #2c3e50;
}

.hero-text p {
    color: #666;
    margin-bottom: 30px;
}
.card {
    background: white;
    width: 280px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin: 12px 0 5px;
}

.card p {
    font-size: 14px;
    color: #555;
}


button {
    margin-top: 12px;
    padding: 12px 22px;
    border: none;
    border-radius: 25px;
    background: #6fa3c8;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

button:hover {
    background: #3f79a5;
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
}

button:active {
    transform: scale(0.95);
}
